<section class="text-center my-5 mx-3 animate__animated animate__fadeIn" style="animation-duration: 0.2s;">
    <div class="h1 text-primary fw-bold ">{{ object.icon|safe }}</div>
    <div class="h1 text-primary fw-bold">{{ object.name }}</div>
</section>

<section class="text-center m-4 animate__fadeIn" style="animation-duration: 0.3s;">
    <div>
        {% if object.description %}
        {{ object.description|safe }}
        {% else %}
        <i>No description</i>
        {% endif %}  
    </div>
</section>

<section class="text-center m-4 animate__fadeIn" style="animation-duration: 0.4s;">
    <div class="tag-container mb-4">
        {% for tag in object.tags.all %}
        <span class="tag">{{ tag.value }}</span>
        {% endfor %}
    </div>

    <div class="links">
        {% if object.links.all %}
        <ul>
            {% for link in object.links.all %}
            <li>
                <strong>{{ link.name }}</strong> -
                {{ link.description }} -
                <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <i>No links</i>
        {% endif %}
    </div>
</section>
    