<section class="detail fade-in-blur" style="--fade-duration: .3s;">
    <div class="h1 fw-bold">{{ object.icon|safe }}</div>
    <div class="h1 fw-bold">{{ object.name }}</div>
</section>

<section class="fade-in-blur" style="--fade-duration: .5s;">
    <div class="homepage">
        {% if object.homepage %}
        <a href="{{ object.homepage }}">{{ object.homepage }}</a>
        {% endif %}
    </div>
</section>

<section class="fade-in-blur" style="--fade-duration: .75s;">
    <div class="tag-container mb-4">
        {% for tag in object.tags.all %}
        <span class="tag">{{ tag.value }}</span>
        {% endfor %}
    </div>
    <div class="description">
        {% if object.description %}
        {{ object.description|safe }}
        {% else %}
        <i>No description</i>
        {% endif %}        
    </div>
    <div class="links">
        {% if object.links.all %}
        <ul>
            {% for link in object.links.all %}
            <li>
                <strong>{{ link.name }}</strong> -
                {{ link.description }} -
                <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <i>No links</i>
        {% endif %}
    </div>
</section>

<section class="fade-in-blur" style="--fade-duration: 1s;">
  <div class="mb-4">
    <strong>Upcoming Events</strong>
  </div>
  {% if object.upcoming_events %}
    {% for event in object.upcoming_events %}
      <div class="m-3">
        <div class="mt-2 mb-3">
          <strong>
            <a href="{% url 'web:get_event' event.pk %}">{{ event.name }}</a>
          </strong>
        </div>
        {% if event.description %}
          <div class="mb-2">{{ event.description| safe | truncatewords:20 }}</div>
        {% endif %}
        <div class="mt-2 mb-3">
          {% if event.end_datetime %}
            {{ event.start_datetime }} &nbsp; - &nbsp; {{ event.end_datetime }}
          {% else %}
            {{ event.start_datetime }}
          {% endif %}
        </div>
        {% if event.location_name %}
          <div class="mt-3 mb-2"><b>{{ event.location_name }}</b></div>
        {% endif %}
        {% if event.location_address %}
          <div class="my-2">{{ event.location_address }}</div>
        {% endif %}
        {% if event.map_link %}
          <div class="my-2">
            <a href="{{ event.map_link }}" title="event location map" target="_blank">
              <i class="fa-solid fa-location-dot"></i>
            </a>
          </div>
        {% endif %}
      </div>
      {% if not forloop.last %}
        <hr class="my-3" />
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="m-3">
      <i>No upcoming events</i>
    </div>
  {% endif %}
</section>