{% load tz %}
<section class="about">
    <h1 class="fade-in-blur mb-2" style="--fade-duration: 0.2s;">{{ title }}</h1>
    <h4 class="text-primary fade-in-blur" style="--fade-duration: 0.3s;">{{ month_name }} {{ year }}</h1>
</section>

<div class="text-center nav-links fade-in-blur" style="--fade-duration: 0.4s;">
    <a 
    {% if use_htmx %}
    hx-get="{{ prev_month_url }}" hx-target="#body_main"
    {% else %}
    href="{{ prev_month_url }}"
    {% endif %}
    class="me-2" title="previous month">
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <a 
    {% if use_htmx %}
    hx-get="{{ today_url }}" hx-target="#body_main"
    {% else %}
    href="{{ today_url }}" 
    {% endif %}
    class="mx-3" style="text-decoration: none">
        today
    </a>
    <a 
    {% if use_htmx %}
    hx-get="{{ next_month_url }}" hx-target="#body_main"
    {% else %}
    href="{{ next_month_url }}"
    {% endif %}
    class="ms-2" title="next month">
        <i class="fa-solid fa-angle-right"></i>
    </a>
</div>

<style>
.mobile-calendar-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) of the container */
    justify-content: flex-start; /* Align content to the start (top) of the container */
    text-align: left; /* Ensure all text inside is left-justified */
    width: 100%; /* Ensure the container itself takes full width */
}

.mobile-calendar-container .row {
    width: 100%; /* Ensure rows take the full width of the container */
    margin-left: 0; /* Remove default negative margins from Bootstrap */
    margin-right: 0; /* Remove default negative margins from Bootstrap */
}

.mobile-calendar-container .row > [class^="col-"] {
    padding-left: 0; /* Remove default padding from Bootstrap columns */
    padding-right: 0; /* Remove default padding from Bootstrap columns */
}
.event-datetime {
    font-size: 0.75rem;
    color: var(--accent-color);
}
</style>

<div id="calendar-wrapper" class="mobile-calendar-container blur-group-container fade-in-blur" style="--fade-duration: .5s;">
{% for event in event_list %}
    <div class="row align-items-center my-3"
    hx-get="{% url event_detail_url event.pk %}"
    hx-target="#modal_wrapper"
    data-bs-toggle="modal"
    data-bs-target="#modal_wrapper"
    >
        <div class="col-2 text-center fs-5 fw-bold">
            {{ event.start_datetime|timezone:"America/Los_Angeles"|date:"M" }}<br/>
            {{ event.start_datetime|timezone:"America/Los_Angeles"|date:"j" }}
        </div>
        <div class="col-10 ps-3">
            <div class="fw-bold">{{ event.name}}</div>
            <div class="event-datetime">{{ event.start_datetime|timezone:"America/Los_Angeles"|date:"g:i A" }} - {{ event.end_datetime|timezone:"America/Los_Angeles"|date:"g:i A" }}</div>
        </div>
    </div>
{% endfor %}
</div>
    