{% load tz %}
<section class="text-center my-5 mx-3">
    <h1 class="h1 text-primary fw-bold animate__animated animate__fadeIn" style="animation-duration: 0.2s;">{{ title }}</h1>
    <h4 class="text-secondary fw-bold animate__animated animate__fadeIn" style="animation-duration: 0.3s;">{{ month_name }} {{ year }}</h4>
</section>

<section class="text-center m-5 animate__fadeIn" style="animation-duration: 0.3s;">

    <div id="calendar-wrapper" class="calendar-container">
        <style>
            .calendar-table {
                box-shadow: 0rem 0.25rem 1rem -0.25rem var(--bs-primary);
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed; 
            }
            .calendar-table th,
            .calendar-table td {
            border: 1px solid var(--bs-primary);
            padding: .5rem;
            }

            .calendar-table thead {
                background-color: var(--bs-primary);
                color: var(--bs-light);
            }
            .calendar-table thead tr {
                height: 3rem;
            }
            .calendar-table tbody {
                background-color: #f1f1f1;
            }
            .calendar-table tbody tr {
                height: 4rem;
            }
            .calendar-table tbody tr td {
                vertical-align: top;
            }
            .today {
                color: var(--bs-primary);
                font-weight: bold;
                text-decoration: underline;
            }
            .cursor-pointer {
                cursor: pointer;
            }
            .event {
                border: 1px solid var(--bs-primary);
                margin: .75rem;
                border-radius: .25rem;
                background-color: #a3c7ea;
                color: var(--bs-light);
                transition: transform 0.3s ease;
            }
            .event:hover {
                transform: scale(1.1);
            }
            .nav-links {
                margin-bottom: .5rem;
            }
        </style>  

        <div class="container-fluid fade-in-blur" style="--fade-duration: .5s;">
            <div class="text-end nav-links">
                <a 
                {% if use_htmx %}
                hx-get="{{ today_url }}" hx-target="#body_main"
                {% else %}
                href="{{ today_url }}" 
                {% endif %}
                class="me-3" style="text-decoration: none">
                    today
                </a>
                <a 
                {% if use_htmx %}
                hx-get="{{ prev_month_url }}" hx-target="#body_main"
                {% else %}
                href="{{ prev_month_url }}"
                {% endif %}
                class="me-2" title="previous month">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
                <a 
                {% if use_htmx %}
                hx-get="{{ next_month_url }}" hx-target="#body_main"
                {% else %}
                href="{{ next_month_url }}"
                {% endif %}
                class="ms-2" title="next month">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
            <table class="calendar-table">
                <thead>
                    <tr class="">
                        <th class="" scope="col">Mon</th>
                        <th class="" scope="col">Tue</th>
                        <th class="" scope="col">Wed</th>
                        <th class="" scope="col">Thu</th>
                        <th class="" scope="col">Fri</th>
                        <th class="" scope="col">Sat</th>
                        <th class="" scope="col">Sun</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in cal_data_str %}
                        <tr>
                        {% for day in week %}
                            <td>
                                {% if day %}
                                <div class="text-end {% if day == today|timezone:"America/Los_Angeles"|date:"j" %}today{% endif %}">
                                    {{ day }}
                                </div>
                                {% endif %}
                                {% for event in event_list %}
                                    {% if event.start_datetime|timezone:"America/Los_Angeles"|date:"j" == day %}   
                                        {% if event_detail_url %}
                                    <div class="event hvr-grow d-block cursor-pointer"
                                    hx-get="{% url event_detail_url event.pk %}"
                                    hx-target="#modal_wrapper"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal_wrapper">{{ event }}
                                    </div>
                                        {% else %}
                                        <div class="event">{{ event }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
