{% load tz %}
<style>
.dynamic-height {
  max-height: calc(100vh - 360px);
  overflow-y: auto;
  padding: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--bs-primary-rgb), 0.25) transparent;
}
</style>

<section class="text-center my-4 mx-3">
    <h1 class="h1 text-primary fw-bold my-2 animate__animated animate__fadeIn" style="animation-duration: 0.2s;">{{ title }}</h1>
    <h4 class="text-secondary animate__animated animate__fadeIn" style="animation-duration: 0.3s;">{{ month_name }} {{ year }}</h4>

    <div class="text-center nav-links mt-3 animate__animated animate__fadeIn" style="animation-duration: 0.4s;">
        <a 
        {% if use_htmx %}
        hx-get="{{ prev_month_url }}" hx-target="#body_main"
        {% else %}
        href="{{ prev_month_url }}"
        {% endif %}
        class="me-2" title="previous month">
            <i class="fa-solid fa-angle-left"></i>
        </a>
        <a 
        {% if use_htmx %}
        hx-get="{{ today_url }}" hx-target="#body_main"
        {% else %}
        href="{{ today_url }}" 
        {% endif %}
        class="mx-3 fw-bold" style="text-decoration: none">
            today
        </a>
        <a 
        {% if use_htmx %}
        hx-get="{{ next_month_url }}" hx-target="#body_main"
        {% else %}
        href="{{ next_month_url }}"
        {% endif %}
        class="ms-2" title="next month">
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
</section>

<section class="text-center m-3 animate__animated animate__fadeIn" style="animation-duration: 0.5s;">
    <ul class="list-group p-2 mx-auto dynamic-height">
        {% for event in event_list %}
            <div class="m-2 list-group-item shadow-sm hover-grow hover-bg-light"
                hx-get="{% url event_detail_url event.pk %}"
                hx-target="#modal_wrapper"
                data-bs-toggle="modal"
                data-bs-target="#modal_wrapper"
            >
                <div class="d-flex align-items-center">
                    <div class="text-center fs-5 fw-bold text-secondary me-3">
                        {{ event.start_datetime|timezone:"America/Los_Angeles"|date:"M" }}<br/>
                        {{ event.start_datetime|timezone:"America/Los_Angeles"|date:"j" }}
                    </div>
                    <div class="ms-2 text-start">
                        <div class="fw-bold text-primary mb-1">{{ event.name }}</div>
                        <div class="text-secondary" style="font-size: smaller;">{{ event.start_datetime|timezone:"America/Los_Angeles"|date:"g:i A" }} - {{ event.end_datetime|timezone:"America/Los_Angeles"|date:"g:i A" }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</section>
