<section class="about mx-3">
    <h1 class="fade-in-blur" style="--fade-duration: .25s;">Develop with us</h1>
    <p class="fade-in-blur" style="--fade-duration: .35s;">
        <span class="highlight fw-bold">SpokaneTech.org</span> is not just a website, it's a community driven initiative to foster development, knowledge sharing, and collaboration. 
        Whether you are a seasoned developer, new to the industry, of just a hobbyist, your involvement is welcome.
    </p>

    <h2 class="fw-bold mt-5 fade-in-blur" style="--fade-duration: .45s;">Contribute</h1>
    <p class="fade-in-blur" style="--fade-duration: .55s;">
        We are always looking for contributors to help improve the site. If you have experience with Python, Django, front-end development, databases, devops, (or would like to learn) we would be thrilled to have you on board. 
        You can find our project on GitHub here: </br>
        <a href="https://github.com/SpokaneTech/SpokaneTechWeb" target="_blank" class="hvr-grow">https://github.com/SpokaneTech/SpokaneTechWeb</a>
    </p>

    <h2 class="fw-bold mt-5 fade-in-blur" style="--fade-duration: .65s;">Follow Development</h1>
    <p class="fade-in-blur" style="--fade-duration: .75s;">
        We strive to document each phase of development through detailed blog posts, giving you insight into the site's progress and the reasoning behind key decisions. 
        <br/>
        Follow along on: 
        <a href="https://spokanetech.github.io/blog/building-spokane-tech/intro/" target="_blank" class="hvr-grow">GitHub</a>, 
        <a href="https://dev.to/spokanetech/building-spokanetechorg-3h18" target="_blank" class="hvr-grow">Dev.to</a>, or 
        <a href="https://medium.com/@dbslusser/spokane-tech-introduction-0ccf3762112d" target="_blank" class="hvr-grow">Medium</a>.
    </p>

</section>