<section class="text-center my-5 mx-3">
    <h1 class="text-primary fw-bold animate__animated animate__fadeIn" style="animation-duration: 0.2s;">Develop With Us</h1>
    <div class="py-2">
        <p class="animate__animated animate__fadeIn" style="animation-duration: 0.3s;">
            <span class="fw-bold text-primary">SpokaneTech.org</span> is not just a website, it's a community driven initiative to foster development, knowledge sharing, and collaboration. 
            Whether you are a seasoned developer, new to the industry, of just a hobbyist, your involvement is welcome.
        </p>
    </div>

    <div class="py-2">
        <h2 class="animate__animated animate__fadeIn h1 text-primary fw-bold" style="animation-duration: 0.4s;">Contribute</h1>
        <p class="animate__animated animate__fadeIn" style="animation-duration: 0.5s;">
            We are always looking for contributors to help improve the site. If you have experience with Python, Django, front-end development, databases, devops, (or would like to learn) we would be thrilled to have you on board. <br/>
            You can find our project on GitHub here: </br>
            <a href="https://github.com/SpokaneTech/SpokaneTechWeb" target="_blank" class="hvr-grow">https://github.com/SpokaneTech/SpokaneTechWeb</a>
        </p>
    </div>

    <div class="py-2">
        <h2 class="animate__animated animate__fadeIn h1 text-primary fw-bold" style="animation-duration: 0.6s;">Follow Development</h1>
        <p class="animate__animated animate__fadeIn" style="animation-duration: 0.7s;">
            We strive to document each phase of development through detailed blog posts, giving you insight into the site's progress and the reasoning behind key decisions. 
            <br/>
            Follow along on: 
            <a href="https://dev.to/spokanetech/building-spokanetechorg-3h18" target="_blank" class="hvr-grow">Dev.to</a>, or 
            <a href="https://medium.com/@dbslusser/spokane-tech-introduction-0ccf3762112d" target="_blank" class="hvr-grow">Medium</a>.
        </p>
    </div>

</section>