<section class="about">
<h1 class="fade-in-blur" style="--fade-duration: 0.3s;">Upcoming Events</h1>

<div class="list-card-container blur-group-container fade-in-blur" style="--fade-duration: 0.5s;">
    {% for row in queryset %}
    <div class="list-card" hx-get="{% url 'web:get_event' row.pk %}" hx-target="#body_main" hx-push-url="{% url 'web:get_event' row.pk %}">
        <div class="title">{{ row.name }}</div>
        <div class="date">
            {% if row.end_datetime %}
            {{ row.start_datetime }} &nbsp; - &nbsp; {{ row.end_datetime }}
            {% else %}
            {{ row.start_datetime }}
            {% endif %}
        </div>
        {% if row.group %}<div class="techgroup">{{ row.group }}</div>{% endif %}
    </div>
    {% endfor %}
</div>
</section>
